@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    background-color: #f6fcff;
    font-family: 'Helvetica Neue';
    font-weight: 300;
}

.list-page {
    font-size: 32px;
}

.list-page table {
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.list-page tbody tr {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}

.list-page tbody tr:first-child {
    background-color: #63b44f;
    font-weight: 500;
    color: #fff;
}

.list-page tbody tr td:first-child,
.list-page thead tr th:first-child {
    width: 10%;
    text-align: center;
}

.list-page tbody tr td:last-child,
.list-page thead tr th:last-child {
    text-align: right;
}

.list-page .mui-table > tbody > tr > td,
.list-page .mui-table > thead > tr > th {
    padding: 20px 30px;
}

.list-page .mui-table > thead > tr > th {
    border: 0;
    font-size: 20px;
    font-weight: 500;
}

.list-page .header-wrapper {
    border-bottom: 1px solid #000;
    font-weight: 500;
    padding: 40px 40px 20px 40px;
}
